@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #FBFBFB;
  color: #3B3B3B;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 48px;

    background:rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border-radius: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.02);
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 70px;
}
.nav-links a {
    text-decoration: none;
    font-size: 1rem;
    color: #3B3B3B;
    position: relative;
    transition: color 0.3s ease;
}
.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background: #01203F;
    transition: width 0.3s ease;
}
.nav-links a:hover {
    color: #0080FF;
}
.nav-links a:hover::after {
    width: 100%;
}

.large-text {
    font-size: 3rem;
    font-weight: 700;
    color: #01203F;
}
.medium-light-text {
    font-size: 1.25rem;
    font-weight: 600;
    color: #0080FF;
}
.medium-dark-text {
    font-size: 1.25rem;
    font-weight: 600;
    color: #01203F;
}
.small-text {
    font-size: 0.9rem;
    font-weight: 400;
    color: #3B3B3B;
}
.small-dark-text {
    font-size: 0.9rem;
    font-weight: 600;
    color: #01203F;
}
.small-light-text {
    font-size: 0.9rem;
    font-weight: 400;
    color: #0080FF;
}
.medium-white-text {
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffffff;
}
.small-white-text {
    font-size: 0.9rem;
    font-weight: 400;
    color: #ffffffff;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    gap: 200px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 62px;
}
.profile-image {
    width: 374px;
    height: 374px;
}
.container1 {
    width: 462px;
}

.aboutme {
    display: flex;
    width: 1040px;
    flex-direction: column;
    gap: 32px;
}
.subcontent {
    display: flex;
    flex-direction: column;
    gap: 12px;
} 

.education {
    display: flex;
    width: 1040px;
    flex-direction: column;
    gap: 32px;
}
.large-image {
    width: 100px;
    height: 100px;
}
.subcontent2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card {
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.02);
    padding: 20px;
    width: 505px;

    display: flex;
    align-items: center;
    gap: 32px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}
.container2 {
    width: 1040px;
    display: flex;
    justify-content: space-between;
}
.subcontent3 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 505px;
}
.subcontent4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact {
    display: flex;
    gap: 12px;
}
.small-image {
    width: 24px;
    height: 24px;
}
.container3 {
    background-color: #01203F;
    padding: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container4 {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 106px;
}